<ion-content>
  <div style="display: flex;align-items: center;justify-content: center;width: 100vw;">

  <div style="width:1000px; height:800px ;display: flex;justify-content: center;">

    <div class="WholePage">

      <div class="title">
        <div class="">NEW SHIPMENT</div>
        <ion-icon class="back" (click)="close()" name="close-outline"></ion-icon>
      </div>

      <div class="content">
        <div class="keyIn">
          <div class="input">
            <div class="in2">Container ID:</div>
            <ion-input class="key2" placeholder="  Container ID" [(ngModel)]="ship['conID']"></ion-input>
          </div>
          <div class="input2">
            <div class="in">Shipment ID:</div>
            <ion-input class="key" placeholder="  Shipment ID" [(ngModel)]="ship['shipID']"></ion-input>
          </div>
          <div class="input2">
            <div class="in2">Order Date:</div>
            <ion-datetime class="key2" displayFormat="DD MM YYYY" placeholder="Select Order Date" max="2050-12-31"
              [(ngModel)]="ship['OrderDate']"></ion-datetime>
          </div>
          <div class="input3">
            <div class="in3">ETA Date:</div>
            <ion-datetime class="key3" displayFormat="DD MM YYYY" placeholder="Select ETA Date" max="2050-12-31"
              [(ngModel)]="ship['ETA']"></ion-datetime>
          </div>
          <div class="input4">
            <div class="in4">Due Date:</div>
            <ion-datetime class="key4" displayFormat="DD MM YYYY" placeholder="Select Due Date" max="2050-12-31"
              [(ngModel)]="ship['DueDate']"></ion-datetime>
          </div>
        </div>

        <div class="button">
          <div class="cancel">
            <ion-button class="cancel" (click)="close()" shape="round"> Cancel</ion-button>
          </div>
          <div class="conf">
            <ion-button class="conf" (click)="upload()" shape="round"> Confirm</ion-button>
          </div>
          <div class="upload">
            <div class="txt">Upload Shipment Details</div>
            <ion-button class="upB" shape="round">Upload <input #uploadEl (change)="changeListener($event)"
                style='position:absolute;height:100%;width:100%;z-index:1000;opacity: 0;top:0;left:0;' type="file">
            </ion-button>
          </div>
        </div>
      </div>
        <div class="table"
          style="border: 1px solid black;margin-top: 15px;width: 800px;overflow-x: scroll;padding: 10px;">

          <div style='display:flex;align-items: center;border: 1px solid #eeeeee;' *ngFor="let vertical of table">

            <div style='text-align: center;border:1px solid #eeeeee;'
              *ngFor='let horizontal of vertical; let i = index'>

              <div *ngIf='i == 1' style='width:150px;'> {{horizontal}}</div>


              <div *ngIf='i != 1' style='width:50px;'> {{horizontal}}</div>
            </div>

          </div>

        </div>
      </div>
  </div>
  </div>
</ion-content>