.wholething{
  max-width: 1000px;
  width: 1000px;
  display: flex;
}

.imageHouse{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90,44,143);
}

.image1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  width: 300px;
  border-right: 1px solid 6818d6;
  background-color:rgb(90,44,143);
  height: 100vh;
}

.right{
  width: calc( 1000px - 200px);

}

.image{
  object-fit: contain;
  height: 200px;
  width: 200px;
  padding : 10px;
}

.shipbuttons{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
}

.branchbuttons{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color:rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
}

.dispactchbuttons{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
}

.usersbuttons{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
}

.logoutbuttons{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
}

.topper{
  width: calc( 1000px - 200px);
  display: flex;
  padding: 20px;
  background-color: rgb(90,44,143);
}

.searchBox{
  border-radius: 1px;
  border-color: rgb(90,44,143);
  width: 300px;
  color:#1a1a1a
}

.searchButton{
  width: 60px;
  border-radius: 50%;
  background-color: rgb(90,44,143);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;

}

.addButton{
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  color:white;
  width: 100px;
}

.allButton{
  width: calc( 1000px - 100px - 50px );
  margin-top: 30px;
}

.shipmentBox{
 display: flex;
 flex-wrap: wrap;
 width: calc( 1000px - 200px );
 max-height:calc( 100vh - 89px );
 overflow-y: scroll !important;
 align-items: flex-start;
 justify-content: flex-start;
}

.branchBox{
  width: 160px;
  border : 4px solid #1a1a1a;
  height: 200px;
  margin-left: 30px;
  margin-top : 30px;
  border-radius: 10px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  border-color: rgb(90,44,143);
}
.location{
  padding:10px;
  font-size:20px;
}
.selectorx{
  background-color: #ae88da;
}
.selector{
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(90,44,143);
  color: white;
  border-bottom: 5px solid white;
}