<ion-content>
  <div style="display: flex;align-items: center;justify-content: center;width: 100vw;overflow-x: scroll;">
    <div class="wholething"
      style="width: 1000px;height: 800px;display: flex;">
      <div class="mostL"
        style="width: 100px;display: flex;flex-direction: column;background-color:#6818d6;height: 800px;">
        <div class="imageHouse"
          style="background-color:#6818d6;height: 80px;display: flex;align-items: center;justify-content: center;">
          <img src="http://www.romantika2u.com/image/cache/Company%20Logo/header-logo-295x127-295x127.jpg" alt=""
            style="border-radius:100%;padding: 10px;width: 100px;height: 100px;object-fit: contain;">
        </div>
        <div class="name"
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 15px;color: white;padding: 10px;margin-top: 15px;">
          Romantika
        </div>
        <div class="blank"
          style="height: 40px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;background-color:#6818d6;">

        </div>
        <div
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;padding: 10px;">
          <ion-icon name="boat-outline" style="font-size: 30px;"></ion-icon>
        </div>
        <div class="branchIcon"
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;padding: 10px;margin-top: 10px;">
          <ion-icon name="business" style="font-size: 30px;"></ion-icon>
        </div>
        <div class="containerIcon" [ngClass]="title == 'report'? 'iconSelect':''"
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;padding: 10px;margin-top: 10px">
          <ion-icon name="newspaper-outline" style="font-size: 30px;"></ion-icon>
        </div>
        <div class="containerIcon"
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;padding: 10px;margin-top: 10px">
          <ion-icon name="notifications-outline" style="font-size: 30px;"></ion-icon>
        </div>
        <div class="logoutIcon"
          style="height: 60px;display: flex;align-items: center;justify-content: center;font-size: 20px;color: white;padding: 10px;margin-top: 10px;height: calc( 800px - 70px - (5 * 60px));display: flex;align-items: flex-end;">
          <ion-icon name="log-out-outline" (click)="close()" style="font-size: 30px;margin-bottom: 35px;"></ion-icon>
        </div>

      </div>
      <div class="middle" style="width: 700px;background-color: white;height: 800px;">
        <div class="topM"
          style="height: 70px;padding: 10px;display: flex;align-items: center;justify-content: space-between;">
          <ion-icon name="arrow-back-outline" style="font-size: 24px;" (click)="bdo()"></ion-icon>
          <ion-searchbar class="sb" style="width: 200px;" [(ngModel)]="keyword"></ion-searchbar>
        </div>

        <div class="middleM"
          style="width: 700px;display: flex;height:70px;display: flex;align-items: center;padding: 10px;justify-content: center;">

          <div class="title" style="padding: 10px;width: 150px;font-size: 20px;">
            Report
          </div>

        </div>

        <div class="select" style="width: 700px;display: flex;max-height: 660px;flex-direction: column;overflow-y: auto;">
        <ion-segment value='stock' (ionChange)="segmentChanged($event)">
          <ion-segment-button value="stock" style="width: 350px;">
            <ion-label>Stocks</ion-label>
          </ion-segment-button>
          <ion-segment-button value="report" style="width: 350px;">
            <ion-label>Reports</ion-label>
          </ion-segment-button>
        </ion-segment>

      <div class="stay" style="padding: 15px;"
        style="display: flex;justify-content: space-between;align-items: center;">
        <div class="de" style="padding: 15px;">
          <div>Shipment ID : {{sID}} </div>
          <div>Branch : {{bID}} </div>
        </div>
        <div style="display: flex;flex-direction: column;">
          <div class="prod" style="padding-right: 10px;">
            <div style="width: 150px;display: flex;justify-content: flex-end;"> Status : {{stat}} </div>
          </div>
          <div class="percen">
            <div style="width: 150px;display: flex;justify-content: flex-end;font-size: 30px; " id='colorchange'>
              {{countpercen(  cartoncountplus() , cartonplus()  )}} % </div>
          </div>
        </div>
      </div>

      <div>
        <div class="change">
          <div class="s" *ngIf='selected=="stock"' style="margin-left:10px ;">
            <div class="q" *ngFor="let s of search(ship),let q of stock"
              style="display: flex; justify-content: space-between;align-items: center;padding: 15px;border-bottom: 1px solid lightgrey;">
              <div style="width: 400px;"> {{s.desc}} </div>
              <div
                style="display: flex;justify-content: flex-start;border-left:  1px solid lightgrey;padding-left: 15px;width: 100px;">
                {{s.barcode}} </div>


              <div style="display: flex;width: 100px;border-left: 1px solid lightgrey;padding-left: 10px;"
                *ngIf="comparecarton(q.cartoncount,q.carton) == 0">
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="addcartoncount(q.cartoncount,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minuscartoncount(q.cartoncount,s.barcode)">
                  </ion-icon>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;width: 100px; color: red;">
                  {{q.cartoncount||0}} / {{q.carton}}
                </div>
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="presentAlertConfirm(q.carton,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minusCartonConfirm(q.carton,s.barcode)"></ion-icon>
                </div>
              </div>

              <div style="display: flex;width: 100px;border-left: 1px solid lightgrey;padding-left: 10px;"
                *ngIf="comparecarton(q.cartoncount,q.carton) == 1">
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="addcartoncount(q.cartoncount,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minuscartoncount(q.cartoncount,s.barcode)">
                  </ion-icon>
                </div>
                <div
                  style="display: flex;justify-content: center;align-items: center;width: 60px; color: rgb(255, 188, 101);">
                  {{q.cartoncount||0}} / {{q.carton}}
                </div>
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="presentAlertConfirm(q.carton,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minusCartonConfirm(q.carton,s.barcode)"></ion-icon>
                </div>
              </div>

              <div style="display: flex;width: 100px;border-left: 1px solid lightgrey;padding-left: 10px;"
                *ngIf="comparecarton(q.cartoncount,q.carton) == 2">
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="addcartoncount(q.cartoncount,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minuscartoncount(q.cartoncount,s.barcode)">
                  </ion-icon>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;width: 100px; color: green;">
                  {{q.cartoncount||0}} / {{q.carton}}
                </div>
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="presentAlertConfirm(q.carton,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minusCartonConfirm(q.carton,s.barcode)"></ion-icon>
                </div>
              </div>

              <div style="display: flex;width: 100px;border-left: 1px solid lightgrey;padding-left: 10px;"
                *ngIf="comparecarton(q.cartoncount,q.carton) == 3">
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="addcartoncount(q.cartoncount,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minuscartoncount(q.cartoncount,s.barcode)">
                  </ion-icon>
                </div>
                <div style="display: flex;justify-content: center;align-items: center;width: 100px; color: green;">
                  {{q.cartoncount||0}} / {{q.carton}}
                </div>
                <div style="display: flex;flex-direction: column;">
                  <ion-icon class="a" name="add-outline" (click)="presentAlertConfirm(q.carton,s.barcode)"></ion-icon>
                  <ion-icon class="a" name="remove-outline" (click)="minusCartonConfirm(q.carton,s.barcode)"></ion-icon>
                </div>
              </div>
            </div>

            <div
              style="display: flex; justify-content: space-between;align-items: center;padding: 15px;border-bottom: 1px solid lightgrey;">
              <div style="display: flex;align-items: center;justify-content: flex-end;width: 600px;padding-right: 5px;">
                Total : </div>
              <div
                style="display: flex;align-items: center;justify-content: center;border-left:1px solid lightgrey;padding-left:10px;width: 110px;">
                {{ cartoncountplus()}} / {{cartonplus()}} </div>
            </div>
          </div>

          <div *ngFor="let item of rep" (click)='highlighter(item)'>
          <div class="r" *ngIf='selected=="report"' style="padding: 15px;display: flex;flex-direction: column;">
            <div style='width:100%;display:flex;justify-content: space-between;'>
              <div class="t" style="padding: 10px;width: 550px;"> Date : {{[item.date | date: "dd MMM yyyy, hh:mm aa"] }}</div>
              <div style="display:flex;justify-content: flex-end;align-items: center;font-size: 20px;">
               <ion-icon name="chevron-down-outline" ></ion-icon>
              </div>
            </div>
           
            <div *ngIf='item.highlight==true'>
              <div *ngFor='let eve of item.remarks' style='width:100%;display:flex;justify-content: flex-start;align-items: center;background-color: honeydew;border: 0.5px solid lightgray;margin-bottom: 13px;'>
                <img style='height:200px;width:200px;object-fit: cover;margin: 5px;' src={{eve.photo.imagec}} alt="">
                <div style="padding-left: 15px;width: 400px;">{{eve.remark}}</div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
    <div class="mostR" style="width: 200px;background-color: #6818d6;height: 800px;">

    </div>
  </div>
  </div>
</ion-content>